body{
    background-color:#232323;
    margin:0px;
    padding:0px;
    font-family:"Montserrat", "Avenir"
}

.square{
    background: purple;
    width:30%;
    padding-bottom:30%;
    float:left;
    margin:1.66%;
    border-radius: 15%;    
    transition: background 0.5s;
    -webkit-transition:background 0.5s;
    -moz-transition:background 0.5s;
}
#container{
    max-width: 600px;
    margin:20px auto;
}

h1{
    color:white;
    background-color: steelblue;
    margin:0px;
    text-align: center;
    font-weight:100;
    line-height: 1.1;
    padding:20px 0px;
    text-transform: uppercase
}

#colorDisplay{
    font-size:150%
}
#display{
    text-align: center;
    background-color: white;
    height:30px;
    color:black;
}

.selected{
    background-color: steelblue;
    color:white;
}

button{
    border: none;
    text-transform: uppercase;
    font-size: inherit;
    color:steelblue;
    height:100%;
    letter-spacing: 1px;
    background: none;
    font-weight: 700;
    transition: all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    outline:none;
}

button:hover{
    background-color: steelblue;
    color:white;
}

#messageDisplay{
    width:20%;
    display:inline-block;
}